<h1>Lista de Prestadores</h1>
<mat-spinner color="primary" style="margin: 0 auto" *ngIf="(data | async) == null"></mat-spinner>
<mat-card *ngFor="let prestador of data | async">
  <mat-card-title>{{prestador.razaoSocial}}</mat-card-title>
  <mat-card-subtitle>{{prestador.cnpj}}</mat-card-subtitle>
  <mat-card-actions>
    <button mat-button (click)="navigateEdit(prestador.id)">EDITAR</button>
    <button mat-button (click)="remove(prestador.id)">REMOVER</button>
  </mat-card-actions>
</mat-card>

<div class="fab-container">
  <button 
    mat-fab class="fab-toggler" 
    (click)="navigateNew()"
    color="primary"
  ><i class="material-icons">add</i></button>
</div>