<h1>Lista de Usuários</h1>
<mat-spinner color="primary" style="margin: 0 auto" *ngIf="(users$ | async) == null"></mat-spinner>
<mat-card *ngFor="let user of users$ | async">
  <mat-card-title>{{user.nome}}</mat-card-title>
  <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
  <mat-card-content *ngIf="user.permissoes">
    <ul>
      <li *ngFor="let p of user.permissoes">{{ p.nome }}</li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="navigateEdit(user.id)">EDITAR</button>
    <button mat-button (click)="remove(user.id)">REMOVER</button>
  </mat-card-actions>
</mat-card>
<div class="fab-container">
  <button 
    mat-fab class="fab-toggler" 
    (click)="navigateNew()"
    color="primary"
  ><i class="material-icons">add</i></button>
</div>