/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
    background:#ecf0f1
}

.container {
    margin: 0 auto;
    width: 80%
}

mat-card {
    margin-top: 5px
}
.form-prestador, .form-login {
    display: flex;
    flex-direction: column
}
.form-prestador, .form-login > * {
    width: 100%
}
.fab-container {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 100;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  
    > div {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      margin-bottom: 5px;
  
      button {
        margin-bottom: 17px;
      }
    }
  }
  .example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }